$color-white: #fff;
$color-orange: #ff6a6a;
$color-blue: #2874f0;
$color-grey-1: #615f5f;
$color-grey-light: #b8b8b8;
$color-background-dark: #1f1f1ffb;
$color-background-dark1: #3f3c3c;
$color-background-bg: #292929;
$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange2: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-gray: #a2a3a5;
$color-gray-dark: #343a40;
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #b8b8b8;
$color-light-2: #d3d3d3;
$color-dark: #343a40;
